<%= render @movement %>

<div>
  <%= link_to "Edit this payment", edit_movement_path(@movement) %> |
  <%= link_to "Back to payments", movements_path %>

  <%= button_to "Destroy this payment", @movement, method: :delete %>
</div>
